html {
    margin: 2px;
  }

// .content-container {

// }

.primary-question {
  text-align: center;
  font-size: 1.5em;
  background: aquamarine;
  margin-bottom: 15px;
  font-family: cursive;
}

.answer-content {
  text-align: justify;
  font-family: cursive;
  font-size: 1.1em;
  color: #0c0c3e;
}

.body-content {
  text-align: justify;
  font-family: cursive;
  font-size: 1.1em;
  color: #0c0c3e;
}

.left-inset-image-content {
  width: 30%;
  float: left;
  margin-right: 30px;
}

.image-spacing-bottom {
  margin-bottom: 5px;
}