// .content-container {

// }

body {
  height: 97vh;
  margin: .3rem;
}

.primary-question {
  text-align: center;
  font-size: 1.5em;
  background: aquamarine;
  font-family: cursive;
}

.answer-content {
  text-align: justify;
  font-family: cursive;
  font-size: 1.1em;
  color: #0c0c3e;
}

.body-content {
  text-align: justify;
  font-family: cursive;
  font-size: 1.1em;
  color: #0c0c3e;
}

.left-inset-image-content {
  width: 30%;
  float: left;
  margin: 0 3rem 2rem 0;
}

.image-spacing-bottom {
  margin: 0 0 1vh 0;
}

.home-banner-image-content {
  margin: 2rem 2rem 4rem 2rem;
}