body {
  height: 97vh;
  margin: .3rem;
  font-family: cursive;
}

.home {
  .banner {
    margin: 2rem 2rem 2rem 2rem;
  }
  .sub-header {
    text-align: center;
    font-size: 1.5em;
    background: #eac691;
    .highlight {
      color:red;
    }
  }
  .content-container {
    .left-inset-image-content {
      width: 17rem;
      float: left;
      margin: 0 2rem 2rem 0;
    }
    .body-content{
      text-align: justify;
      font-size: 1.1em;
      padding: 2rem 0 0 0;
      .quotes {
        font-size: 1.2em;
        .quoted-by {
          float: right;
          font-weight: bold;
        }
      }
    }
  }
}

.founder {
  a { 
    cursor: pointer;
    
  }
  .mas-oyama {
    overflow: hidden;
    padding: 1rem;
    height: 25rem;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    background: #eac691;
    &:hover {
      background: #f9dfba;
    }
    .left-tile-image-content {
      float: left;
      width: 18rem;
      margin: 0 2rem 0 0;
    }
    .right-tile-content {
      color: #0c0c3e;
      text-align: justify;
    }
  }
  .eleven-mottos {
    margin: 2rem 0 0 0;
    a { cursor: pointer; }
    .wide-tile {
      padding: 1rem;
      text-align: center;
      overflow: hidden;
      box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
      background: #eac691;
      font-weight: bold;
      &:hover {
        background: #f9dfba;
      }
    }
  }
}

.founder-details{
  padding: 1rem 1rem 1rem 0;
  .left-inset-image-content {
    width: 17rem;
    float: left;
    margin: 0 2rem 1rem 0;
  }
  .body-content{
    text-align: justify;
    font-size: 1.1em;
    .quotes {
      font-size: .8em;
      font-weight: bold;
      .quoted-by {
        float: right;
      }
    }
  }
}

.eleven-mottos{
  .page-title {
    font-size: 1.2em;
    text-align: center;
    margin: .5rem;
    font-weight: bold;
  }
  li {
    padding: .8rem;
  }
  .page-footer{
    font-size: 1.2em;
    text-align: center;
  }
}

.organization {
  a { cursor: pointer; }
  .wide-tile {
    overflow: hidden;
    padding: 1rem;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    background: #eac691;
    &:hover {
      background: #f9dfba;
    }
    .left-tile-image-content {
      float: left;
      width: 20%;
      margin: 0 2rem 0 0
    }
    .right-tile-content {
      color: #0c0c3e;
      text-align: justify;
    }
  } 
}

.organization-details{
  padding: 1rem 1rem 1rem 0;
  .left-inset-image-content {
    width: 17rem;
    float: left;
    margin: 0 2rem 1rem 0;
  }
  .body-content{
    text-align: justify;
    font-size: 1.1em;
  }
}

.gurukul {
  padding: 1rem 2rem 0 0;
  .left-inset-image-content {
    width: 30%;
    float: left;
    margin: 0 2rem 1rem 0;
  }
  .body-content{
    text-align: justify;
    font-size: 1.1em;
  }
}

.gallery {
  line-height: 2;
  column-count: 4;
  column-gap: 0px; 
  @media screen and (max-width: 1740px) {
    line-height: 2;
    column-count: 3;
    column-gap: 0px;  
  }
  @media screen and (max-width: 1300px) {
    line-height: 2;
    column-count: 2;
    column-gap: 0px;  
  }  
  .image-tile {
    width: 100% !important;
    height: auto !important;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    .desc {
      font-size: .7em;
      font-weight: bold;
      text-align: center;
    }
  }
}

.events{
  .nav-tabs{
    a {
      color: black;
    }
    a[aria-selected="true"]{
      background: #eac691;
      color: black;
    }
  }
  .tab-content{
    padding: 1rem;
    border: 1px solid #948f8f;
  }
  
  .event-table {
    border-collapse: separate; 
    border-spacing: 2rem;
  }
}

.dojo-kun{
  .page-title {
    font-size: 1.2em;
    text-align: center;
    margin: .3rem;
    font-weight: bold;
  }
  ol {
    text-align: center;
    margin-top: 2rem;
    list-style: none;
      li {
        padding: .4rem;
      }
  }
}

.contact {
  a { cursor: pointer; }
  .long-tile-map {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    width: 48%;
    float:left;
    padding: 1rem;
    li {
      padding: .5rem;
      margin-bottom: .42rem;
    }
    iframe {
      width:99%;
      height: 13rem;
    }
  }
  .long-tile-form {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    width: 50%;
    float:right;
    padding: 1rem;
    .form-header {
      text-align: center;
    }
    .contact-form {
      width: 100%;
      height: 30rem;
      td {
        text-align: center;
      }
      input {
        height: 1.4rem;
        width: 14rem;
      }
      textarea {
        width: 14rem;
        height: 9rem;
      }
    }
  }
}



.image-spacing-bottom {
  margin: 0 0 1vh 0;
}

.ichigeki {
  margin: 0 0 2rem 0;
}





