$main-background-color: #f9e9cd;

$header-footer-background-color: #343a40;

$contrast-color: #eac691;

$contrast-color-hover: #f9dfba;

$highlight-color: red;

$selected-menu: aquamarine;

$header-footer-font-color: white;

$main-font-color: black;