.headerContainer {
    background: #343a40;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    .brand { 
        align-self: stretch;
        order: 0;
        flex: 0 0 0px;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 90px;
        margin: 9px 5px 5px 15px;
        color: white;
        font-size: 1.4em;
    }
    .menuBar {
        align-self: stretch;
        order: 0;
        flex: 1 0 0px;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 90px;
        margin: 11px;
        font-size: 1.1em;
        a {
            color: white;
            padding-left:20px;
        }
        
    }
}
