.headerContainer {
    background: #343a40;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    .brand { 
        align-self: stretch;
        align-self: center;
        color: white;
        padding: 0 2rem 0 1rem;
        font-size: 1.4em;
    }
    .menuBar {
        align-self: stretch;
        flex-grow: 1;
        align-self: center;
        font-size: .9em;
        a {
            color: white;
            padding: 0 0 0 2rem;
        }
        a[aria-current="page"]{
            color: aquamarine;
        }
    }
}
