@import "../styles/theme.scss";

.container {
    display: grid;
    grid-template-areas:
    'header header header'
    'left main right'
    'footer footer footer';
    grid-template-columns: minmax(150px,12vw) minmax(700px,auto) minmax(200px,15vw);
    grid-template-rows: 6vh 91vh 3vh;
    font-style: italic; 

    .header {
        grid-area: header;
        font-weight: bold;
        background: $header-footer-background-color;
    }

    .leftWidget {
        grid-area: left;
        justify-self: center;
        padding: 1rem 1rem 0 2rem;  
        background: $main-background-color;  
    }
    
    .rightWidget {
        grid-area: right; 
        overflow-x: auto;
        padding: 1rem 0 1rem 0;
        background: $main-background-color; 
    }
    
    .main {
        grid-area: main;
        padding: .5rem 1rem 1.5rem 1rem;
        overflow-x: auto;
        background: $main-background-color; 
    }
    
    .footer {
        grid-area: footer;
        background: $header-footer-background-color;
        color: $header-footer-font-color;
    }
}


