.container {
    display: grid;
    grid-template-areas:
    'header header header header'
    'left main main right'
    'footer footer footer footer';

    .header {
        grid-area: header;
        height:6vh;
        margin: 0 0 .5rem 0;
    }

    .leftWidget {
        grid-area: left;
        min-width: 200px; 
        max-width: 12vw;
        justify-self: center;
    }
    
    .rightWidget {
        grid-area: right; 
        min-width: 200px; 
        max-width: 15vw;
        height: 89vh;
        overflow-x: auto;
    }
    
    .main {
        grid-area: main;
        padding: .5rem 1rem 1.5rem 1rem;
        height: 86vh;
        overflow-x: auto;
        min-width:500px;
        width: 66vw;
    }
    
    .footer {
        grid-area: footer;
        height: 3vh;
        margin-top: .3rem;
        background: #343a40;
        color:white;
    }
}


