.container {
    display: grid;
    grid-template-areas:
    'header header header'
    'left main right'
    'footer footer footer';
    grid-template-columns: minmax(150px,12vw) minmax(600px,auto) minmax(200px,15vw);
    grid-template-rows: 6vh 91vh 3vh;

    .header {
        grid-area: header;
    }

    .leftWidget {
        grid-area: left;
        justify-self: center;
        padding: 0 2rem 2rem 2rem;      
    }
    
    .rightWidget {
        grid-area: right; 
        overflow-x: auto;
        margin: 1rem 0 1rem 0;
    }
    
    .main {
        grid-area: main;
        padding: .5rem 1rem 1.5rem 1rem;
        overflow-x: auto; 
    }
    
    .footer {
        grid-area: footer;
        background: #343a40;
        color:white;
    }
}


