.container {
    display: grid;
    grid-template-areas:
    'header header header header'
    'left main main right'
    'footer footer footer footer';

    .header {
        grid-area: header;
        height:7vh;
    }

    .leftWidget {
        grid-area: left;
        min-width: 200px; 
        max-width: 12vw;
        padding-top: 40px;
        height: 82vh;
    }
    
    .rightWidget {
        grid-area: right; 
        min-width: 200px; 
        max-width: 15vw;
        height: 87vh;
        overflow-x: auto;
        padding-top:5px;
    }
    
    .main {
        grid-area: main;
        padding: 0px 20px 0px 0px;
        height: 88vh;
        overflow-x: auto;
        min-width:500px;
        width: 66vw;
    }
    
    .footer {
        grid-area: footer;
        height: 3vh;
        line-height: 3vh;
        margin-top: 6px;
        background: #343a40;
        color:white;
    }
}


